@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
body {
  background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
  color: var(--color-text-light);
}
*, *::before, *::after {
  box-sizing: border-box;
}

.container{ 
  max-width: 1200px;
  margin: auto auto;
  margin-bottom: 3rem;
}
.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
}